# Virtual Environments
venv/
env/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Logs and Data
logs/
data/test_media/
data/watchlist/

# Models and Weights
*.pt
*.pth
models/weights/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Node (if applicable in root)
node_modules/
dist/
build/
